<div class="ui container">
    <div class="ui green secondary pointing menu">
        <a  routerLink="/collections" routerLinkActive="active" class="item">
            <i class="edit icon"></i>Apply</a>
        <a  routerLink="/elements" routerLinkActive="active" class="item">
            <i class="images icon"></i>Document Upload</a>
        <a  routerLink="/views" routerLinkActive="active" class="item">
            <i class="eye icon"></i>Review</a>
        <a  routerLink="/mods" routerLinkActive="active" class="item">
            <i class="credit card icon"></i>Payment</a>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>


